---
import {Button} from '@nextui-org/react';
import Default from '@layouts/Default.astro';
---

<Default title="Home Page">
	<h1 class="text-red-600">Astro</h1>
	<div class="flex flex-wrap gap-4 items-center">
		<Button color="primary" variant="solid" client:only>
			Solid
		</Button>
		<Button color="primary" variant="faded" client:only>
			Faded
		</Button>
		<Button color="primary" variant="bordered" client:only>
			Bordered
		</Button>
		<Button color="primary" variant="light" client:only>
			Light
		</Button>
		<Button color="primary" variant="flat" client:only>
			Flat
		</Button>
		<Button color="primary" variant="ghost" client:only>
			Ghost
		</Button>
		<Button color="primary" variant="shadow" client:only>
			Shadow
		</Button>
	</div>
</Default>
